<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <TestRunParameters>
    <Parameter name="AppId" value="AppId" />
    <Parameter name="DirectLineToken" value="DirectLineToken" />
    <Parameter name="FromUser" value="FromUser" />
    <Parameter name="Subscription" value="Subscription"/>
    <Parameter name="VirtualMachine" value="VirtualMachine"/>
    <Parameter name="ResourceGroup" value="ResourceGroup"/>
    <Parameter name="RunbookWithDescription" value="Runbook"/>
    <Parameter name="RunbookDescription" value="Runbook Description"/>
    <Parameter name="RunbookWithoutDescription" value="Runbook"/>
    <Parameter name="RunbookInMultipleAutomationAccounts" value="Runbook"/>
  </TestRunParameters>
</RunSettings>