<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <TestRunParameters>
    <!-- update these with your values-->
    <Parameter name="MicrosoftAppId" value="YOUR-MICROSOFT-APP-ID" />
    <Parameter name="DirectLineToken" value="YOUR-DIRECTLINE-TOKEN" />
    <Parameter name="FromUser" value="YOUR-FROM-USER" />
    <Parameter name="BotId" value="YOUR-BOT-ID" />
    <Parameter name="Subscription" value="Subscription"/>
    <Parameter name="VirtualMachine" value="VirtualMachine"/>
    <Parameter name="ResourceGroup" value="ResourceGroup"/>
    <Parameter name="RunbookWithDescription" value="Runbook"/>
    <Parameter name="RunbookDescription" value="Runbook Description"/>
    <Parameter name="RunbookWithoutDescription" value="Runbook"/>
    <Parameter name="RunbookInMultipleAutomationAccounts" value="Runbook"/>
    <Parameter name="RunbookNotPublished" value="Runbook"/>
    <Parameter name="RunbookThatFails" value="Runbook"/>
    <Parameter name="RunbookWithParameters" value="Runbook"/>
    <Parameter name="RunbookOutput" value="Output"/>
    <Parameter name="AutomationAccount" value="AutomationAccount"/>
    <Parameter name="AlternativeSubscription" value="Subscription"/>
    <Parameter name="DeallocateResourcesOnCleanup" value="true"/>
  </TestRunParameters>
</RunSettings>